header{
    font-family: 'Work Sans';
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 37px 153px 0 80px;
}

header nav ul{
    display: flex;
    list-style: none;
}

header nav ul li{
    margin: 0 32px;
}

header nav ul li a{
    color: #F5FBF2;
    text-decoration: none;
}

header nav ul li a:hover{
    color: #FFCE4E;
    padding-bottom: 5px;
    border-bottom: 2px solid #FFCE4E;
    text-decoration: none;
}

header .logo-container img{
    height: 66px;
    width: 66px;
}

header a button{
    color: #FFCE4E;
    border: 1px solid #FFCE4E;
    padding: 22px 30px;
    max-width: 195px;
    max-height: 64px;
    font-family: 'Work Sans';
    background-color: rgb(0, 0, 0, 0.0);
}

header a button:hover{
    color: #ffffff;
    border: 1px solid #ffffff;
    background-color: #FFCE4E;
}